body {
	background: #000000e3;
}

#mpc-containter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: auto;
	border: 1px solid gainsboro;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	padding-bottom: 2em;
	border-radius: 15px;
	background: #2b2b2b;
	background-size: cover;
	background-image: url(/img/metallic.jpg);
}

#mpc-container input,
select {
	padding: 0.25em;
}

.mpcSelect {
	width: 10em;
	height: 2.5em;
	padding: 0.5em;
	border-radius: 5px;
	margin: 0.5em;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-weight: 600;
	background: radial-gradient(#2fe3fb, #15b3ffcc);
	color: #fffaebd4;
}
.mpcSelect option {
	background: #29caf0;
	color: #fffaebd4;
}

.iconSpan {
	text-align: center;
}
.mpcIcon {
	height: 1.4em;
	opacity: 0.75;
}

#upload-span input {
	display: none;
}
#upload-span .upload:hover {
	opacity: 0.6;
	cursor: pointer;
}

.mpcRangeInput {
	width: 2em;
	border-radius: 5px;
	margin: 1em 0.5em;
	opacity: 0.7;
	transition: opacity 0.2s;
	-webkit-appearance: slider-vertical;
	height: 8em;
}

.control-div {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#playbackSpeed {
	margin-bottom: 0;
}

/* pads */
#pad-container {
	display: flex;
	flex-wrap: wrap;
	width: 22.5em;
	margin: 0em 0.75em;
	background: #1e1e1e;
	padding: 0em 0.1em;
}

.pad {
	padding: 1em;
	border: 1px solid;
	border-radius: 7%;
	margin: 0.25em;
	height: 3em;
	width: 3em;
	text-align: center;
	box-shadow: -1px 1px 3px;
	/* background: radial-gradient(#dedab5, #9e9e95); */
	background: radial-gradient(#232323, #2f2f2f);
}

/* wave */
.wavesurfer-handle {
	background-color: black !important;
	opacity: 0.04;
}

/* drums */
#drumloop-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drumIcon {
	height: 2.5em;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#upload-span .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #2acff2;
	color: #fff;
	text-align: center;
	padding: 0.5em;
	border-radius: 1em;
	opacity: 0.75;
	font-family: monospace;
	font-size: 11px;
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#upload-span:hover .tooltiptext {
	visibility: visible;
}

/* error msg */
.error-box {
	background: #f57070;
	color: white;
	width: 11em;
	text-align: center;
	border-radius: 0.4em;
	padding: 1em;
	margin: auto;
	opacity: 0.85;
	font-family: sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -6em;
	top: 8em;
	display: none;
}
